<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-eldar"></div>
      <mat-card-title>Eldar Čelik</mat-card-title>
      <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/Eldar_Čelik.jpg" alt="Eldar Čelik">
    <mat-card-content>
      <p></p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-anida"></div>
      <mat-card-title>Anida Mujezin</mat-card-title>
      <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/Anida_Mujezin.jpg" alt="Anida Mujezin">
    <mat-card-content>
      <p></p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-dzenana"></div>
      <mat-card-title>Dženana Šabović</mat-card-title>
      <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/Dženana_Šabović.jpg" alt="Dženana Šabović">
    <mat-card-content>
      <p></p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-arslan"></div>
      <mat-card-title>Arslan Turkušić</mat-card-title>
      <mat-card-subtitle>Backend Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/Arslan_Turkušić.jpg" alt="Arslan Turkušić">
    <mat-card-content>
      <p></p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-emina"></div>
      <mat-card-title>Emina Kezo</mat-card-title>
      <mat-card-subtitle>QA Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/Emina_Kezo.jpg" alt="Emina Kezo">
    <mat-card-content>
      <p></p>
    </mat-card-content>
  </mat-card>
</div>
<br>
<hr>
<div class="created">
 <p>Powered by Team 3 on <a href="https://www.edit.world/">&nbsp;EDIT 2020.&nbsp;</a></p>
</div>