<mat-toolbar color="accent">
  <span>
    <a routerLink="/"><mat-icon>camera</mat-icon> Photo Board</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a routerLink="/">Home</a>
    </li>
  </ul>
  <ul>
    <li>
      <a routerLink="/">Profile</a>
    </li>
  </ul>
  <ul>
    <li>
      <a (click)="onLogout()">Logout</a>
    </li>
  </ul>
  <ul>
    <li>
      <div class="example-button-container">
        <button
          mat-mini-fab
          color="accent"
          routerLink="/create"
          aria-label="Example icon button with a plus one icon"
        >
          <mat-icon>add_a_photo</mat-icon>
        </button>
      </div>
    </li>
  </ul>
</mat-toolbar>
