ul{
  list-style:none;
  margin: 16px;
  padding: 0;
}

a{
  text-decoration: none;
  color:white;
  text-align: center;
}

mat-toolbar{
  text-align: center;
}

mat-icon {
  vertical-align:text-top;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0 50px;
}

.spacer{
  flex: 1 1 auto;
}

button{
  text-align: center;
}
