<div *ngIf="!isLoggedIn ? goToLogin() : false"></div>
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Post Title"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >Please add a post title</mat-error
      >
    </mat-form-field>

    <div>
      <div class="example-button-container">
        <P>ADD IMAGE</P>
        <button
          mat-mini-fab
          color="accent"
          routerLinkActive="mat-accent"
          aria-label="Example icon button with a plus one icon"
          (click)="filePicker.click()"
        >
          <mat-icon>&nbsp;add_a_photo</mat-icon>
          <input type="file" #filePicker (change)="onImagePicked($event)" />
        </button>
      </div>
    </div>

    <div
      class="image-preview"
      *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
    >
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>

    <br />
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        placeholder="Post Content"
      >
      </textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >Please add a post content</mat-error
      >
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div>
      <button mat-raised-button color="accent" type="submit">Publish</button>
    </div>
  </form>
</mat-card>
