
mat-form-field,
textarea{
  width: 50%;
}

mat-spinner{
  margin:auto;
}

input[type="file"]{
  visibility: hidden;
}


.image-preview{
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img{
  height: 100%;
}

mat-card{
  width: 30%;
  display: block;
}

main-div{
  justify-content: center;
  align-items: center;
}