mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 10rem;
  margin: 2rem 0;
}

.image-preview img {
  height: 100%;
}

mat-card {
  width: 30%;
  display: block;
  text-align: center;
  margin: auto;
}

main-div {
  justify-content: center;
  align-items: center;
}
