mat-card {
  font: 500 16px/28px Roboto,
  "Helvetica Neue",
  sans-serif;
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  margin-top: 70px;
  border-radius: 25px;
}

mat-form-field {
  display: block;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 25px;
}

a {
  font-weight: 900;
  text-decoration: none;
  color: #000000;
}

#login {
  cursor: pointer;
}