<mat-card class="centered-content">
  <mat-card-content>
    <img src="assets/images/logo.jpg" alt="Logo Photo Board" />
    <h2>Sign up</h2>
    <mat-form-field class="full-width-input">
      <input
        #email
        matInput
        placeholder="Email"
        formControlName="email"
        required
      />
      <mat-error>Please provide a valid email address </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input
        #username
        matInput
        placeholder="Username"
        formControlName="username"
        required
      />
      <mat-error>Please provide a valid username </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input
        #password
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
        required
      />
      <mat-error> Please provide a valid password</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      (click)="
        onSignupButtonClicked(email.value, password.value, username.value)
      "
    >
      Signup
    </button>
    <br />
    <br />
    <p>
      Already got an account?<a id="login" routerLink="/login"> Login</a> now!
    </p>
  </mat-card-content>
</mat-card>
