:host {
  display: block;
  margin-top: 2rem;
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-card {
  margin-bottom: 15px;
}

button:focus {
  outline: none;
  border: 0;
}

.example-card {
  max-width: 400px;
  display: block;
  align-self: center;
  position: center;
}

.example-header-image {
  background-image: url("/assets/person.png");
  background-size: cover;
}

mat-card-header {
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  width: 20%;
}

mat-card-title {
  margin: 0 auto;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}

.mat-card {
  width: 100%;
  text-align: center;
}

button {
  margin: 5px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.example-card {
  max-width: 250px;
  border-radius: 10px;
}

mat-card {
  margin-top: 20px;
}

mat-card-title {
  width: max-content;
  white-space: nowrap;
}

.info {
  text-align: center;
}

img {
  max-width: 400px;
  min-width: 200px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: auto;
}

span {
  color: #ff4081;
}
