<mat-card class="centered-content">
  <mat-card-content>
    <img src="assets/images/logo.jpg" alt="Logo Photo Board">
    <h2>Log In</h2>
    <mat-form-field class="full-width-input">
      <input
        #email
        matInput
        placeholder="Email"
        formControlName="username"
        required
      />
      <mat-error>Please provide a valid email address </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input
        #password
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
        required
      />
      <mat-error> Please provide a valid password</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      (click)="onLoginButtonClicked(email.value, password.value)"
    >
      Login
    </button>
    <br>
    <br>
    <p>Don't have an account? <a id="signup" routerLink="/signup">Signup</a> now!</p>
  </mat-card-content>
</mat-card>
