:host{
  display: block;
  margin-top: 2rem;
 
  width: 50%;
  text-align: center;

}

mat-spinner{
  margin: auto;
}

.example-card {
  max-width: 400px;
  display: block;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.mat-card{
  width: 100%;
  text-align:center;
}