:host{
  display: block;
  margin-top: 2rem;
  width: 50%;
  text-align: center;

}

mat-spinner{
  margin: auto;
}

.example-card {
  max-width: 400px;
  display: block;
  align-self: center;
  margin-left:  70%;
  margin-right: auto;
  position: center;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card{
  width: 100%;
  text-align:center;
}

button {
  margin: 5px;
}

.grid {
  display:block;
  grid-template-columns: auto auto auto;
  display: grid;
  justify-items: center;
  grid-template-columns: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
 
example-card{
  max-width: 400px;
  position: center;
  text-align: center;
  align-self: center;
}

.natpis{
  text-align: center;
}